<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <button id="test">
        测试
    </button>
</body>
<script src="../static/editor/js/jquery.min.js"></script>
<script type="text/javascript">
    function test(id,func,timeout) {
        var timeOutEvent;
        document.querySelector('#'+id).addEventListener('click',function (e) {
            clearTimeout(timeOutEvent);
            timeOutEvent=setTimeout(function () {
                func()
            },timeout)
        })
    }
    test('test',function () {
        console.log("1");
    },2000)
</script>
</html>